.container {
  width: 100%;
}

.base {
  composes: textInput from "../../../vars/typography.css";
  composes: gray from "../../../vars/borders.css";
  color: #78DCFA;
  -webkit-text-fill-color: transparent;
  width: 100%;
  padding: 8px 16px;
  border-style: solid;
  border-width: 1px;
  border-radius: 0;
  outline: none;
  resize: none;
  overflow: hidden;
  transition: border-color 0.2s cubic-bezier(.22,.67,.52,.92),
              box-shadow 0.2s cubic-bezier(.22,.67,.52,.92);
}

.base:hover {
  border-color: #A8BECE;
}

.base:focus {
  border-color: #00AADC;
  box-shadow: 0 0 0 2px #78DCFA;
}
